* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 14px;
  font-family: 'Courier New', Courier, monospace;
}

h1 {
  padding-bottom: 1rem;
  border-bottom: 3px double black;
}

h1::before, h1::after {
  content: " ⚙️ ";
  text-decoration: none;
}

h2 {
  margin: 5px 0;
  text-transform: capitalize;
  text-decoration: underline;
}

p {
  margin: 0;
  text-transform: uppercase;
}

span {
  display: block;
  width: 120px;
  border: 5px outset brown;
  border-radius: 5px;
  background-color: burlywood;
  padding: 2px 0;
  margin: 2px auto;
  font-weight: bolder;
}

ul[class] {
  list-style: none;
}

ul[class],
li {
  margin: 0;
  padding: 0;
}

.panel__devtools {
  margin: 5px auto;
  border: 3px double black;
}

.panel__block {
  border: 3px double black;
  padding: 5px;
  margin: 5px;
  text-align: center;
  background-color: azure;
}

button {
  margin-top: 10px;
  background-color: #008cba;
  border: none;
  color: white;
  font-size: 14px;
  font-family: 'Courier New', Courier, monospace;
  padding: 10px 16px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  max-width: fit-content;
  cursor: pointer;
}

button:hover {
  box-shadow: 5px;
  visibility: 0.9;
  background-color: #dc143c;
}

input {
  margin: 5px 10px 5px 0;
  border: 0;
  padding: 0 10px;
  line-height: 36px;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  background-color: #3cbc8d;
  color: white;
  max-width: 200px;
}

input:hover {
  background-color: #3cbc8dcc;
}

input:focus {
  background-color: #dc143c;
}

main {
  display: flex;
  flex-direction: row;
  height: 100vh;
  max-height: 100vh;
}

.wrapper__title {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
}

/* Панель управления */
.panel__wrapper {
  flex-basis: 25%;
  max-height: inherit;
  overflow: hidden;
  background: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.panel__devtools {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto 0;
}

.line {
  margin: 5px;
}

.weight__inputs {
  display: flex;
  justify-content: space-between;
}

.weight__inputs input {
  width: 120px;
}

.sorter__block {
  display: flex;
  justify-content: space-evenly;
}

.fruits-sorter p {
  margin-bottom: 5px;
}



/* Список экзотических фруктов */
.fruits__wrapper {
  flex-basis: 75%;
  background: #fff;
  max-height: inherit;
  overflow: hidden;
}

h2.wrapper__title {
  margin: 30px auto;
  font-size: 30px;
  text-decoration: underline double;
}

.fruits__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-height: inherit;
  overflow-y: auto;
  padding: 15px;
}

.fruit__item {
  margin: 10px;
  padding: 10px;
  width: fit-content;
  height: 100px;
  border-radius: 10px;
}

.fruit_violet {
  background: #8b00ff;
}

.fruit_green {
  background: #84cd1b;
}

.fruit_carmazin {
  background: #dc143c;
}

.fruit_yellow {
  background: #ffd800;
}

.fruit_lightbrown {
  background: #cd853f;
}

.fruit__info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  background: #fff;
  height: 100%;
  padding: 10px;
}
